/* 
    Created on : 30/11/2021, 10:36:12
    Author     : Germán Montalbetti © <gmontalbetti@prodismo.com>
*/

body {
    background: #eef;
    color: #fff;
}

#containerGeneral {
    width: 90%;
    margin-bottom: 10px;
    margin: 3.2rem auto 0 auto;
    border-radius: 10px;
    background: rgba(21, 20, 85, 0.7);
}

header{
    text-align: center;
    margin-bottom: 1.5rem;
}

.container {
    background: rgba(21, 20, 85, 0.7);
    padding: 2.3rem 0.5rem;
    border-radius: 0.3rem;
    max-width: 900px;
    text-align: left;
}

@media(min-width: 950px){
  .container{
    max-width: 900px;
  }
}

@media(min-width: 1168px){
  .container{
    max-width: 1100px
  }
}

.form-inline {
    margin: auto;
    padding: auto;
    text-align: left;
}

.form-control {
    display: inline-block;
    margin: 0;
    padding: 5px 20px;
}

input, select {
    margin: 1px 0px 30px 0px; 
    padding: auto 0;
    text-align: left;
    padding-left: 5px
}

label.input-group-text {
    text-align: left;
}

button {
    margin-left: 10px;
    width: auto;
}

#form1 {
    margin: 15px 8px;
    padding: auto;
}

.form-group {
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}

input.form-check-input{
    text-align: left;
}

h1 {
    margin-top: 8px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 100;
}

h5 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
}

p {
    font-family: sans-serif;
    font-size: 12px;
}

.footer {
    color: #fff;
    text-align: center;
    margin: 10px;
}

input:hover {
    box-shadow: 0px 0px 8px 0 #0c0;
}

textarea:hover {
    box-shadow: 0px 0px 8px 0 #0c0;
}
