<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee          http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>Servelets.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Servelets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>Servelets.FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PiezasRegistradas</servlet-name>
        <servlet-class>Servelets.PiezasRegistradas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retrieve</servlet-name>
        <servlet-class>Servelets.retrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>Servelets.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImagen</servlet-name>
        <servlet-class>Servelets.UploadImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnsayosRegistrados</servlet-name>
        <servlet-class>Servelets.EnsayosRegistrados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadArchivo</servlet-name>
        <servlet-class>Servelets.UploadArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletrrrrr</servlet-name>
        <servlet-class>Servelets.NewServletrrrrr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadNuevaPieza</servlet-name>
        <servlet-class>Servelets.UploadNuevaPieza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDatosEnsayo</servlet-name>
        <servlet-class>Servelets.UploadDatosEnsayo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnsayosRegistradosBuscar</servlet-name>
        <servlet-class>Servelets.EnsayosRegistradosBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PiezasRegistradasBuscar</servlet-name>
        <servlet-class>Servelets.PiezasRegistradasBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosEnsayosRegistrado</servlet-name>
        <servlet-class>Servelets.DatosEnsayosRegistrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarDatosAlarga</servlet-name>
        <servlet-class>Servelets.editarDatosAlarga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PiezasRegistradasPagination</servlet-name>
        <servlet-class>Servelets.PiezasRegistradasPagination</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PiezasRegistradas</servlet-name>
        <url-pattern>/PiezasRegistradas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retrieve</servlet-name>
        <url-pattern>/retrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImagen</servlet-name>
        <url-pattern>/UploadImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnsayosRegistrados</servlet-name>
        <url-pattern>/EnsayosRegistrados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadArchivo</servlet-name>
        <url-pattern>/UploadArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletrrrrr</servlet-name>
        <url-pattern>/NewServletrrrrr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadNuevaPieza</servlet-name>
        <url-pattern>/UploadNuevaPieza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDatosEnsayo</servlet-name>
        <url-pattern>/UploadDatosEnsayo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnsayosRegistradosBuscar</servlet-name>
        <url-pattern>/EnsayosRegistradosBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PiezasRegistradasBuscar</servlet-name>
        <url-pattern>/PiezasRegistradasBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosEnsayosRegistrado</servlet-name>
        <url-pattern>/DatosEnsayosRegistrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarDatosAlarga</servlet-name>
        <url-pattern>/editarDatosAlarga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PiezasRegistradasPagination</servlet-name>
        <url-pattern>/PiezasRegistradasPagination</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
